<div class="landingPageImg">

<a href="/book"> <img class="covers" src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/python_in_a_nutshell.jpg" alt=""> </a>

<a href="/author"> <img class="covers" src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/alex_martelli.jpg" alt=""> </a>
</div>
