<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
	<header>
		<nav>
			<div class="leftHeader">

			<a href="/"> <img src="/media/glogo.png" alt="galvanize reads logo" class="headerLogo"> </a>
			<h1>Galvanize Reads</h1>
		</div>
		<div class="rightHeader">
			<h5 class='center'>Search for your favorites below</h5>
			 <form action="/search" method="GET">
				 <div class="input-field">
					 <label>Search</label>
					 <input type="text" name="search" value="{{search}}" placeholder="I don't work... But I Will">
			<!-- <form class="form" action="/search" method="get">
				<div class="form-group">
					<label for="search">Search</label><br>
					<input type="search" name="name" id="name" placeholder="I don't work...but I will!" value="{{search}}">
					<button type="button" name="button">Search Now</button> -->
				</form>
				</div>
		</div>
		</nav>
	</header>
  <body>
		<div class="side-nav">
			<div class="sidebar">
			<div class="container">
				<img src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/anna_ravenscroft.jpg" alt="" class="sidebarImg">
				<a href="/author">authors</a>
			</div>
			<div class="container">
				<img src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/python_in_a_nutshell.jpg" alt="" class="sidebarImg">
				<a href="/book">Books</a>
			</div>
		</div>
		<div class="body">
    {{{body}}}
		</div>
	</div>
  </body>
</html>
