<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
	<header>
		<img src="/media/glogo.png" alt="galvanize reads logo" class="headerLogo">
		<h1>Galvanize Reads</h1>
	</header>
  <body>
    {{{body}}}
  </body>
</html>
