<form class="form" action="/book" method="post">
<div class="form-group">
	<label for="title">Title</label><br>
	<input type="text" name="title" id="title" placeholder="Book Title"value=""required>
</div>
<div class="form-group">
	<label for="genre">Genre</label><br>
	<input type="text" name="genre" id="genre" placeholder="Book Genre"value=""required>
</div>
<div class="form-group">
	<label for="cover">Cover Image URL</label><br>
	<input type="text" name="cover" id="cover" placeholder="Cover Image URL"value=""required>
</div>
<div class="form-group">
	<label for="description">Description</label><br>
	<textarea name="description" id='description' rows="8" cols="80" placeholder="Book description goes here"></textarea>
</div>
<div class="form-group">
	<label for="author1">Author</label><br>
	<input type="text" name="author1" id="author1" value=""placeholder="Authors' Names"required>
</div>
<!-- <div class="form-group">
          <select multiple="" class="form-control" name="authors" required>
						<option value="volvo">Volvo</option>
						  <option value="saab">Saab</option>
						  <option value="mercedes">Mercedes</option>
						  <option value="audi">Audi</option>
          </select>
        </div> -->
				<button type="submit" class="btn btn-primary">Add a New Book!</button>
</form>
