body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
header {
	margin: 0;
	padding: 0;
	display: flex;
	background-color: lightblue;
}

.leftHeader{
	display: flex;
}
nav {
	width: 100vw;
	display: flex;
	justify-content: space-between;
}
.landingPageImg{
display: flex;
justify-content: space-between;
width: 90vw;
padding: 200px;
padding-top: 150px;
}
.sidebarImg{
	height: 100px;
	width: 100px;
}

.headerLogo{
	height: 75px;
}
.covers{
	height: 300px;
	width: 300px;
}

.media {
	padding:20px;
	padding-left: 75px;
}

.side-nav{
	display: flex;
}
